[submodule "ghostty"]
	path = ghostty
	url = https://github.com/TheBigRigZA/ghostty.git
	branch = cmux-fork-gtk4-platform
[submodule "agent-browser"]
	path = agent-browser
	url = https://github.com/vercel-labs/agent-browser.git
